---
import BentoGrid from "@/components/sections/bentogrid.astro";
import Features from "@/components/sections/features.astro";
import HeroLanding from "@/components/sections/hero-landing.astro";
import InfoLanding from "@/components/sections/info-landing.astro";
import PreviewLanding from "@/components/sections/preview-landing.astro";
import Testimonials from "@/components/sections/testimonials.astro";

import { infos } from "@/config/landing";
import MainLayout from "@/layouts/main-layout.astro";

import ExampleGrid from "@/components/example-grid.astro";
import PageHeader from "@/components/page-header.astro";
import { navMenuConfig } from "@/config/nav-menu";

const examples = navMenuConfig.examplesNav[0].items;
const pages = navMenuConfig.pagesNav[0].items;
---

<MainLayout title="">
  <HeroLanding />
  <!-- <PreviewLanding /> -->
  <!-- <BentoGrid /> -->
  <!-- <InfoLanding data={infos[0]} reverse={true} /> -->
  <!-- <InfoLanding data={infos[1]} /> -->
  <!-- <Features /> -->
  <!-- <Testimonials /> -->
  <div class="bg-background-200">
    <section class="container py-12">
      <PageHeader
        heading="Showcase"
        text="Few handpicked items from the Blog."
      />

      <ExampleGrid title="Design" items={pages} link="/blog/category/design" />
      <ExampleGrid title="Code" items={examples} link="/blog/category/code" />
      <ExampleGrid title="Things" items={examples} link="/blog/category/things" />
    </section>
  </div>
</MainLayout>